html
  scroll-behavior: smooth

body
  font-family: 'Permanent Marker', cursive

/*mobile store slider

.slider
  width: 100%
  height: 100%
  display: flex
  overflow-x: auto
  -webkit-overflow-scrolling: touch

.slide
  width: 100%
  flex-shrink: 0
  height: 100%

/*desktop store scrolling

.div-scroll
  background-color: none
  width: 100%
  height: 75vh
  overflow: auto
  -webkit-overflow-scrolling: touch

/*Logo

.img-logo
  width: 50px
  height: 50px

/*card desktop store

.card
  background-color: #ffffff
  border: 1px solid rgba(0, 34, 51, 0.1)
  box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05), 2px 4px 10px 0 rgba(0, 34, 51, 0.05)
  border-radius: 0.15rem

/* Tabs Card desktop store

.tab-card
  /*border:1px solid #eee;

.tab-card-header
  background: none

  >
    .nav-tabs
      border: none
      margin: 0px

      > li
        margin-right: 2px

        > a
          border: 0
          border-bottom: 2px solid transparent
          margin-right: 0
          color: #737373
          padding: 2px 15px

          &.show
            border-bottom: 2px solid #007bff
            color: #007bff

          &:hover
            color: #007bff

    .tab-content
      padding-bottom: 0

/*google map router

.google-maps
  position: relative
  padding-bottom: 75%
  height: 0
  overflow: hidden

  iframe
    position: absolute
    top: 0
    left: 0
    width: 100% !important
    height: 100% !important

/*media queries
@media only screen and (min-device-width : 320px) and (max-device-width : 768px)
  .img-main
    width: 80px
    height: 80px
    border-radius: 50%

  .img-about
    width: 100%
    height: 100px

  .img-store
    width: 150px
    height: 210px
    
  .font-change-tab
    font-size: .80em
    display: block
    text-align: center
    white-space: nowrap 
    
  .d-none-custom
    display: none !important
  
  .d-block-smartphone
    display: block !important
  

/* tablet styling

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
  .img-main
    width: 180px
    height: 200px
    border-radius: 10px

  .img-about
    width: 1000px
    height: 300px

  .font-change-tab-menu
    font-size: 1.15em

  .font-change-tab
    font-size: .80em
    display: block
    text-align: center
    white-space: nowrap

  .main-text-transform
    color: white
    
  .d-none-custom
    display: none !important
    
  .d-block-custom
    display: block !important

/* desktop styling
@media only screen and (min-device-width : 1224px) 
  .zoom
    transition: transform 0.2s
    width: 200px
    height: 200px
    margin: 0 auto
    z-index: 3

    &:hover
      transform: scale(1.25)
      z-index: 100

  .hovereffect
    width: 160px
    height: 100%
    float: left
    overflow: hidden
    position: relative
    text-align: center
    cursor: default

    .overlay
      width: 100%
      height: 100%
      position: absolute
      overflow: hidden
      border-radius: 50%
      top: 0
      left: 0
      opacity: 0
      filter: alpha(opacity = 0)
      background-color: rgba(0, 0, 0, 0.5)
      -webkit-transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81)
      transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81)

    img
      display: block
      position: relative
      -webkit-transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81)
      transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81)

    h2
      text-transform: uppercase
      color: #fff
      text-align: center
      position: relative
      font-size: 17px
      background: rgba(0, 0, 0, 0.6)
      -webkit-transform: translatey(-100px)
      -ms-transform: translatey(-100px)
      transform: translatey(-100px)
      -webkit-transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81)
      transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81)
      padding: 10px

    a.info
      text-decoration: none
      display: inline-block
      text-transform: uppercase
      color: #fff

      /*border: 1px solid #fff;
      background-color: transparent
      opacity: 0
      filter: alpha(opacity = 0)
      -webkit-transition: all 0.4s ease
      transition: all 0.4s ease
      margin: 50px 0 0
      padding: 7px 14px

      &:hover
        /*box-shadow: 0 0 5px #fff;

    &:hover
      .overlay
        opacity: 1
        filter: alpha(opacity = 100)

      h2
        opacity: 1
        filter: alpha(opacity = 100)
        -ms-transform: translatey(0)
        -webkit-transform: translatey(0)
        transform: translatey(0)

      a.info
        opacity: 1
        filter: alpha(opacity = 100)
        -ms-transform: translatey(0)
        -webkit-transform: translatey(0)
        transform: translatey(0)
        -webkit-transition-delay: 0.2s
        transition-delay: 0.2s

  .img-main
    width: 200px
    height: 150px
    border-radius: 50%

  .div-height-panel
    height: 100vh

  .div-about-body
    height: 75vh

  .img-about
    width: 100%
    height: 300px

  .d-none-custom
    display: none !important
    
  .d-block-custom
    display: block !important
  

/*# sourceMappingURL=style.css.map